* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
nav {
  display: block;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 2rem;
  color: blueviolet;
}
a {
  text-decoration: none;
}
